/* Add your custom extension styling here */
."panel-button" {
    color: black;
}
.si-label {
    color: white;
    font-size: 16px;
    padding: 2px;
    border-radius: 2px;
}

.i-label {
    color: yellow;
    font-size: 16px;
    padding: 2px;
    border-radius: 2px;
}

.e-label {
    color: red;
    font-size: 16px;
    padding: 2px;
    border-radius: 2px;
}
